body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #a00,#600, #f00);
}

.albums {
    display: grid;
    grid-gap: 20px;
    /*span elements across as long as there is enough space*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.album{
    background: rgba(255, 0 , 0, 0.2);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
    color: white;
    font-weight: 100;
}

.album_artwork {
    width: 100%;
}